/*
Theme Name: Simplicity
Theme URI: http://janwillhaus.de
Description: This theme is pure simplicity. It's based on my previous theme, Awesomeness and still carries it's soul and, of course, it's awesomeness. This theme is designed to be responsive, based on window width, so it can be used on basically every devices and most mobile browsers. 
Version: 1.5
Author: Jan Willhaus
Tags: one column, widgets, sidebar
* 
* 
*/

@font-face {
	font-family: 'Museo';
  	font-weight: bold;
  	font-style: normal;	
	src: url('fonts/museo/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'), 
	     url('fonts/museo/museo700-regular-webfont.woff') format('woff'), 
	     url('fonts/museo/museo700-regular-webfont.ttf')  format('truetype'),
	     url('fonts/museo/museo700-regular-webfont.svg#svgFontName') format('svg');
}

@font-face {
	font-family: 'Museo';
  	font-weight: normal;
  	font-style: normal;	
	src: url('fonts/museo/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'), 
	     url('fonts/museo/museo300-regular-webfont.woff') format('woff'), 
	     url('fonts/museo/museo300-regular-webfont.ttf')  format('truetype'),
	     url('fonts/museo/museo300-regular-webfont.svg#svgFontName') format('svg');
}

@font-face {
	font-family: 'PT Serif';
  	font-weight: normal;
  	font-style: normal;	
	src: url('fonts/ptserif/PTF55F_W.eot?#iefix') format('embedded-opentype'), 
	     url('fonts/ptserif/PTF55F_W.woff') format('woff'), 
	     url('fonts/ptserif/PTF55F_W.ttf')  format('truetype'),
	     url('fonts/ptserif/PTF55F_W.svg#svgFontName') format('svg');
}

@font-face {
	font-family: 'PT Serif';
	font-weight: normal;
  	font-style: italic;	
	src: url('fonts/ptserif/PTF56F_W.eot?#iefix') format('embedded-opentype'), 
	     url('fonts/ptserif/PTF56F_W.woff') format('woff'), 
	     url('fonts/ptserif/PTF56F_W.ttf')  format('truetype'),
	     url('fonts/ptserif/PTF56F_W.svg#svgFontName') format('svg');
}
	
@font-face {
	font-family: 'PT Serif';
  	font-weight: bold;
 	font-style: normal;
  	src: url('fonts/ptserif/PTF75F_W.eot?#iefix') format('embedded-opentype'), 
	     url('fonts/ptserif/PTF75F_W.woff') format('woff'), 
	     url('fonts/ptserif/PTF75F_W.ttf')  format('truetype'),
	     url('fonts/ptserif/PTF75F_W.svg#svgFontName') format('svg');
}

@font-face {
	font-family: 'PT Serif';
  	font-weight: bold;
 	font-style: italic;
  	src: url('fonts/ptserif/PTF76F_W.eot?#iefix') format('embedded-opentype'), 
	     url('fonts/ptserif/PTF76F_W.woff') format('woff'), 
	     url('fonts/ptserif/PTF76F_W.ttf')  format('truetype'),
	     url('fonts/ptserif/PTF76F_W.svg#svgFontName') format('svg');
}


html{
	height: 100%;
}

body {
	color: #000;
	background-color: rgb(244,244,244);
		font-family: "PT Serif", 'Georgia', Times, serif;
	background-image: url(images/bg-eggshell.jpg);
	font-size: 110%;
	height: 100%;
	margin: 0;
}

.storytitle a,
.storydate a,
.credit a,
.moretext a:link,
#nav a:link,
a,
ol#trackbytrack li,
h3,
a.dsq-subscribe-email em,
a.dsq-subscribe-rss em,
.credit a{
	color: #333;
	border-bottom:  1px dashed rgba(40,100,187,0.2);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
	text-decoration: none !important;	
}

.storytitle a:hover,
.storydate a:hover,
.credit a:hover,
.moretext a:hover,
#nav a:hover,
a:hover,
.s2_message{
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid rgba(40,100,187,1);
}

h1, h2, h3,
.storydate,
.feedback,
#nav,
#sharing,
#header,
#menu,
ol#trackbytrack li,
.moretext,
.credit,
.meta,
#subscription_page input[type="text"],
input[id="s"],
#bitsubscribe #bsub-credit,
.feedurl,
#dsq-account-dropdown  {
	font-family: "Museo", Verdana, Arial, sans-serif;
}

h1.nodate{
	margin-bottom: 45px;
	
}


.screen-reader-text {
    position: absolute;
    left: -1000em;
}

a img, .nounderline {
	border: none !important;
}

a:visited {
	color: #333;
}

acronym,
abbr {
	border-bottom: 0px dashed #333;
}

acronym,
abbr,
span.caps {
	font-size: 90%;
	letter-spacing: .07em;
}

acronym,
abbr {
	cursor: help;
}

blockquote {
	background-color: rgba(0,0,0,0.1);
	border: 1px solid rgba(0,0,0,0.2);
	margin-left: 2em;
	padding: 10px 2em 5px 2em;
	font-weight: normal;
	font-style: italic;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	border-radius: 3px;
} 


#rap{
	position: relative;
	margin: 0 7% 0 33%;	
	max-width: 700px;
	min-height: 100%;
}

cite {
	font-size: 95%;
	font-weight: bold;
}

code, tt {
margin: 0 2px;
padding: 0 2px;
white-space: nowrap;
border: 1px solid rgba(0,0,0,0.15);
background-color: rgba(0,0,0,0.1);
border-radius: 3px;
}


h1 {
	text-align: left;
	font-size: 1.4em;
	margin-bottom: 10px;
	margin-top: 0;
}

h2,
h3,
#header,
#bit h3,
#dsq-content h3,
#bit #bitsubscribe h3,
.storytitle,
.rating,
ol#trackbytrack li {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

h2 {
	font-size: 1.3em;
	font-weight: normal;
	font-style: normal;
}


h3,
ol#trackbytrack li,
#dsq-content h3 {
	font-weight: bold;
	font-size: 1.05em;
	letter-spacing: 0.1em;
	margin-top: 20px;
	margin-bottom: 5px;
	letter-spacing: -0.05em;
}

/* %%%%%%%%%%%%%%% BASIC OVERALL LAYOUT SETTINGS %%%%% */
.post, #pages, #commentsbox, #disqus_thread, #notfound{
	padding: 0;
	line-height: 1.75em;
	margin-top: 40px;
	margin-bottom: 40px;
}

#subscription_page, #search_page{
	padding: 30px;
	line-height: 1.5em;
	margin-top: 30px;
	margin-bottom: 30px;
}

#nav{
	padding: 15px 15px;
	line-height: 1.0em;
	font-weight: bold;
	min-height: 1em;
	border: 1px solid rgba(0,0,0,0.2);
	background-color: rgba(150,150,150,0.2);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	border-radius: 5px;
}

a.post-edit-link{
	display: inline-block;
}

#disqus_thread {
	padding-top: 5px;
	margin-top: 0px !important;
}

#commentsbox, #commentlist li{
display: none;
}

/* %%%%%%%%%%%%%%% BASIC BEAUTIFICATION %%%%%%%%%%%%%%% */
.post, #pages, #notfound, #header, #menu, #commentsbox, #disqus_thread, #subscription_page, #search_page{
	background-color: rgba(255,255,255,0);
}

.storytitle {
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	margin-bottom: 1px;

}

#pages .storytitle{
	margin-bottom: 30px;
}
	
.storydate{
	color: #555;
	font-size: 0.9em;
	font-weight: normal;
	margin: 0 auto 10px 1px;
}

.storydate a:hover{
	border-bottom: 1px solid rgba(255,50,50,1);
}

ol#comments li p {
	font-size: 1em;
}

p,
ol#trackbytrack p {
	letter-spacing: -0.02em;
	margin-top: 5px;
	margin-bottom: 20px;
}

.storycontent{
	margin: 0 0 50px 0;
	
}

.storycontent img{
	max-width: 100% !important;
	height: auto !important;
	
}

#commentsbox{
	display: none;
	/*
	 * CSS of commentbox has been disabled and
	 * moved to the end of stylesheet, due 
	 * to the use of disqus commentary threads.
	 * Because its just so much better!
	 */
}


#commentlist li, #dsq-comments {
	margin-left: 0;
	margin-right: 40px;
	text-align: left;
	line-height: 1.5em;	
}

#dsq-content #dsq-comments .dsq-comment-message {
	text-align: justify;
	line-height: 1.5em;
}

#dsq-content .dsq-moderator .dsq-comment-header {
  	background: #EBF0F5;
}

#dsq-content .dsq-options {
	display: none;
}

#dsq-account-dropdown a{
	border-bottom: none;
}

#content {
	line-height: 1.5em;
	text-align: justify;
	border: 0px solid #666;
}

#nav{
	padding-left: 10px;
	padding-right: 10px;
	margin: 0;
	margin-top: 10px; 
}

#nav hr{
	margin: -5px 0;
}

#nav .title{
	font-size: 0.8em;
	font-weight: normal;
	margin: 4px 0 0 0;
}


#like_button{
	height: 18px;
	width: 110px;
	
}

#fb-root{
	padding: 5px;
	width: 150px;
	height: 20px;
}

.fb_reset{
	display: none !important;
}

#tweetbutton{
	padding: 5px;
	position: absolute;
	top: 10px;
	left: 180px;
	height: 20px;

}

.PlusOne{
	position: absolute;
	top: 10px;
	left: 340px;
	padding: 5px;
	width: 90px;
	height: 20px;
}

.FlattrButton{
	position: absolute;
	top: 10px;
	left: 470px;
	padding: 5px;
	height: 21px;
	width: 110px;
}

.rdbWrapper{
	display: inline-block;
}

	
.moretext{	
	margin: 0;
	text-align: right;
	font-weight: bold;
	float:right;
}


#header {
	border: 0px solid #666;
	font-weight: bold;
	font-size: 50pt;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 0;
}


#header a{
	color: #333;
	text-decoration: none;
	letter-spacing: -0.05em;
	border-bottom: none;
		-webkit-transition: all 0.1s linear;
		-moz-transition: all 0.1s linear;
		-o-transition: all 0.1s linear;
		-ms-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

#header a:hover {
	color: #000;
}


.bloglogo{
	display: none;
}

.post-icon, .attachment-thumbnail{
	float: left;
	margin-right: 0.5em;
}

/* classes used by the_meta() */
ul.post-meta {
	list-style: none;
}

ul.post-meta span.post-meta-key {
	font-weight: bold;
}

.credit {
	display: block;
	color: #777;
	font-size: 10pt;
	margin: 25px 0 0 0;
	text-align: center;
	clear: both;
}


.meta {
	margin-top: 10px;
	font-size: 80%;
}

.meta li, ul.post-meta li {
	display: inline;
}

.meta ul {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

.meta,
.meta a {
	color: #808080;
	font-weight: normal;
	letter-spacing: 0;
	border:none;
}

/* Captions & aligment */

.aligncenter,
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.textalignright{
	text-align: right;
}

.textcenter {
	text-align: center;
}

.columns{
	/*
	 * For aligning text content in two columns.
	 */
	text-align: justify;
	
    -webkit-column-count:2;
	-webkit-column-gap:30px;
	-moz-column-count:2;
    -moz-column-gap:30px;
    column-count:2;
    column-gap:30px;
}

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	border-radius: 3px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 95%;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}

img.alignleft , img.alignright{
	padding: 0.2em;
	margin: 0.5em 1em 0.5em 1em;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.rating{
	margin: 0 !important;
	float: right;	
}


#footer{	
	position: absolute;
	bottom: 0;
	height: 60px;
	padding: 0;
	width: 100%;
}

hr {
	display: block;
	clear: both;
	margin: 0;
	visibility: hidden;
}

#left{
	position: fixed;
	float: left;
	height: 100%;
	width: 33%;
	
}

#menubar{
	padding: 20px 10px;
	margin: 130px 70px 0 0 ;
	float: right;
	width: 190px;
	border: 1px solid rgba(0,0,0,0.2);
	background-color: rgba(150,150,150,0.2);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	border-radius: 5px;
}

#menufooter {
	display: none;
	margin: 20px auto 0 auto;
	padding: 30px 0;
	position: relative;
	font-weight: normal;
	line-height: 1.5em;	
	border: 1px solid rgba(0,0,0,0.2);
	background-color: rgba(150,150,150,0.2);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	border-radius: 5px;
}

a img.logo{
	margin-bottom: 15px;
	border-radius: 6px;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

a img.logo:hover{
	border-bottom: none;
		
}

input#s,
#subscription_page input[type="text"] {
  	background-color: #fff;
    border-radius: 4px;
    padding: 3px;
    font-weight: normal;
    font-size: 15px;
    border: 1px solid rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}
  
input#s:focus,
#subscription_page input[type="text"]:focus{
	border: 1px solid rgba(40,100,187,1);
	-webkit-box-shadow: 1px 1px 1px rgba(40,100,187,1), -1px -1px 1px rgba(40,100,187,1);
	box-shadow: inset 1px 1px 3px rgba(40,100,187,1);

}



#menubar ul, #menufooter ul{
	margin: 0;
	padding: 0 10px;
}

.widget_search{
  	text-align: center;
  	margin: 3px 0;
}

#menubar ul li, #menufooter ul li{
	list-style-type:none;
	font-weight: bold;
	line-height: 1.5em;
	letter-spacing: 0;
	padding-top: 5px;
	padding-bottom: 5px; 
}

#menubar ul ul, #menufooter ul ul{
	font-variant: normal;
	font-weight: 400;
	line-height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

#menubar ul ul li, #menufooter ul ul li{
	border: 0;
	letter-spacing: 0;
	margin-top: 0;
	padding: 1px;
	padding-left: 10px;
	font-weight: normal;
}

#menubar ul ul li a, #menufooter ul ul li a{
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid rgba(40,100,187,0);
	
		-webkit-transition: all 0.1s linear;
		-moz-transition: all 0.1s linear;
		-o-transition: all 0.1s linear;
		-ms-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

#menubar ul ul li a:hover, #menufooter ul ul li a:hover{
	text-decoration: none;
	border-bottom: 1px solid rgba(40,100,187,1);
}

#menubar ul ul ul.children #menufooter ul ul ul.children{
	font-size: 0.8em;
	padding-left: 4px;
}


/*
 * The Following attributes apply to Subscribe2
 * and its integration on /subscription page.
 */

#subscription_page, #search_page{
	background-color: rgba(0,0,0,0.1) !important;
	border: 1px solid rgba(0,0,0,0.3);
	text-align: center;
}

#search_page p{
	padding: 0;
	margin: 0;
}

#subscription_page form{
	width: 250px;
	display: block;
	margin: 0 auto;
}

#subscription_page input[type="text"] {
  	width: 95%;  
  	text-align: center;	
}

#subscription_page label{
	margin-bottom: 10px;
}

.s2_message,
.s2_error{
	display: inline;
}

.s2_error{
	border-bottom: 1px solid rgba(255,25,25,0.6);
}



#subscription_page input[type="submit"], input[id="searchsubmit"] {
	-webkit-transition: all 0.25s ease-in-out 0s;
	-moz-transition: all 0.25s ease-in-out 0s;
	-o-transition: all 0.25s ease-in-out 0s;
	-ms-transition: all 0.25s ease-in-out 0s;
	background: -webkit-gradient(linear, left top, left bottom, from(#2864bb), to(#114289));
	background: -moz-linear-gradient(top,  #2864bb,  #22539a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2864bb', endColorstr='#22539a');
	border: 1px solid rgba(0,0,0,0.4);
	border-radius: 15px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	color: #fff;
	margin: 20px 0 0;
	padding: 4px 20px;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#subscription_page input[type="submit"]:hover, input[id="searchsubmit"]:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#2864bb), to(#2864bb));
	background: -moz-linear-gradient(top,  #2864bb,  #2864bb);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2864bb', endColorstr='#2864bb');
	box-shadow: 0 1px 0 #4f4f4f inset;
	color: #fff;
	text-decoration: none;
}

#subscription_page input[type="submit"]:active, input[id="searchsubmit"]:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#22539a), to(#22539a));
	background: -moz-linear-gradient(top,  #22539a,  #22539a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#22539a', endColorstr='#22539a');
	box-shadow: 0 -1px 0 #333 inset;
	color: #aaa;
	text-decoration: none;
}


		
@media (max-width: 1030px) {
	
	.FlattrButton {
		display: none;
	}

}		
		
@media (max-width: 850px){
		
			
	html, 
	body {
		max-width: 850px;
	}
		
	#left, .blogtitle{	
		display: none;
	}
		
	#header{
		padding-bottom: 0;
	}	
		
	.bloglogo, #menufooter{
		display: block;
	}
	
	#footer{
		position: relative;
		
	}
		
	#rap{
		width: 90%;
		margin-right: 5%;
		margin-left: 5%;
		max-width: 850px;
	}
		
	.FlattrButton {
		display: block;
	}		
		
}

@media (max-width: 650px){

	.FlattrButton {
		display: none;
	}
}

@media (max-width: 500px){
	
	#header{
		font-size: 2em;
	}
	
	blockquote{
		margin: 0;
		padding: 1em 1em;
	}

	.columns{
	/*
	 * For aligning text content in two columns.
	 */
	text-align: justify;
	
    -webkit-column-count:1;
	-webkit-column-gap:0;
	-moz-column-count:1;
    -moz-column-gap:0;
    column-count:1;
    column-gap:0;
}
	

}

@media (max-width: 460px) {
	
	.PlusOne {
		display: none;
	}
	
	#tweetbutton{
		display: none;
	}
}